*{
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
    color: black;
}
header{
    display: block;
    width: 100%;
    height: 70px;
    background-color: blue;
}
section{
    display: flex;
    justify-content: space-evenly;
}