*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

hr {
    margin-top: 100px;
}

header {
    background-color: black;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    width: 100%;
    height: 80px;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}

section h1, div, nav {
    margin-top: 10px;
}

section img {
    height: 30px;
}

section h1 {
    color: white;
    font-size: 2rem;
    margin-right: 100px;
}

#searchbalk {
    border-radius: 40px;
    height: 40px;
    width: 340px;
    padding-left: 30px;
}

#zoekicon {
    margin-bottom: -10px;
    margin-left: -40px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*                                              Header done  
--------------------------------------------------------------------------- 
.                                               main begins                         
*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

article, ul {
    display: flex;
    justify-content: center;
}

/*                                                 main done
-----------------------------------------------------------------------------
.                                                  reclame begins
*/

article {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: black;
    border-radius: 50px;
    width: 1260px;
    overflow-x: hidden;
}

article h2 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: -80px;
}

article ul {
    margin-left: -100px;
}

article ul li {
    display: flex;
    align-items: flex-end;
}

/*                                                 reclame done
-----------------------------------------------------------------------------
.                                                  items begins
*/

.items {
    margin-top: 50px;
    width: 85%;
}

.items li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: auto;
    padding: auto;
    opacity: 90%;
}

.items img, h3, h2, p {
    color: black;
}

.items img {
    width: 200px;
    margin-top: 10px;
}

.items li:hover {
    opacity: 100%;
}

/*                                                 items done
-----------------------------------------------------------------------------
.                                                  stop begins
*/

.stop {
    display: flex;
    flex-direction: row;
}

.stop1 {
    display: flex;
    justify-content: flex-end;
    height: 350px;
    width: 400px;
    background-color: black;
}