*{
    list-style-type: none;
    font-family: 'Poppins';
}
header{
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
}
.box{
    margin-top: 30px;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
}
.text_image{
    display: flex;
    margin-top: -70px;
}
.dropbox1, .dropbox2{
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    z-index: 1;
    list-style-type: circle;
}
.search_box1{
    position: relative;
}
.search_box2{
    position: relative;
}
.search_box1:hover .dropbox1{
    display: block;
}
.search_box2:hover .dropbox2{
    display: block;
}
.shopping_cart{
    display: flex;
    margin-top: 2px;
}
.login{
    display: flex;
    margin-top: 9px;
}
.searchbox{
    display: flex;
    margin-right: 20px;
}
.blackfriday{
    display: flex;
}
form{
    background-color: black;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input{
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
button{
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
svg{
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}
.form{
    display: flex;
    position: relative;
    left: 150px;
    top: 20px;
}
.price{
    text-align : center;
}
.buy{
    display: flex;
    border: 2px solid black;
    border-radius: 12px;
    inline-size: 6%;
}
.Item_price{
    text-align : center;
}
.image{
    margin-top: -120px;
}
footer{
    background-color: gray;
    text-align: center;
}
.top1{
    display: flex;
    justify-content: space-between;
    margin-left: -50px;
}
.shopping_cart{
    margin-left: 50px;
}
.price1{
    margin-right: 50px;
}
.buy{
    margin-left: 1160px;
    position: relative;
}
.Item_price{
    
}